/comparissons/java/note-app-algorand/.idea/.gitignore
/comparissons/java/note-app-algorand/.idea/compiler.xml
/comparissons/java/note-app-algorand/.idea/encodings.xml
/comparissons/java/note-app-algorand/.idea/jarRepositories.xml
/comparissons/java/note-app-algorand/.idea/jpa-buddy.xml
/comparissons/java/note-app-algorand/.idea/misc.xml
/comparissons/java/note-app-algorand/.idea/uiDesigner.xml
